* {
    font-family: Arial;
}
body {
    background-color: rgb(70, 11, 126);
    margin: 0px;
    padding: 0px;
}

header{
    display: flex;
    justify-content: center;
    height: 120px;
    margin-top: 10px;
}
.container {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    width: 1800px;
    justify-content: space-between;
    
}
.rein {
    width: 120px;
    height: auto;
}
header .container {
    background-color: #000000;
    color: #fff;
    align-items: center;
    border-radius: 20px 20px 0px 0px;
}
.title {
    padding: 20px;
}
.retrato {
    display: flex;
    justify-content: center;
}
.retrato .container {
    justify-content: center;
    background-color: rgb(52, 71, 65);
}
.retrato img {
    width: 300px;
    height: auto;
    margin: 20px;
    border-radius: 10px;
}
#banner {
    display: flex;
    justify-content: center;
}
.banner_desc{
    font-size: 20px;
}
#banner h1 {
    background-color:rgb(111, 139, 130);
    border-radius: 5px;
}
.banner1 {
    background-color: rgb(55, 88, 79);
    padding: 10px;
    flex: 1;
}
.banner2 {
    background-color: rgb(69, 97, 88);
    padding: 10px;
    flex: 1;
}
.banner3 {
    background-color: rgb(82, 119, 107);
    padding: 10px;
    flex: 1;
}
.banner3 ul {
    list-style: circle;
}
#banner img {
    display: flex;
    width: 350px;
    height: auto;
    margin: 20px;
    justify-self: center;
    border-radius: 10px;
}
#banner .banner2 img {
    margin-bottom: 60px;
    margin-top: 60px;
}
#timeline {
    display: flex;
    justify-content: center;
}
.timeline_box , .timeline_img {
    flex: 1;
    background-color: rgb(52, 71, 65);
}
.timeline_box{
    flex: 2;
}
.timeline_box h1 {
    margin: 5px;
    padding: 5px;
    background-color: rgb(111, 139, 130);
    border-radius: 10px;
}
.timeline_box ul {
    font-size: 20px;
    background-color: rgb(55, 88, 79);
    margin: 5px;
    border-radius: 10px;
    list-style: circle;
    flex: 1;
}
.timeline_img{
    display: flex;
    justify-content: center;
    flex: 1;
}
.timeline_img img {
    border-radius: 10px;
    width: 400px;
    height: auto;
    margin: 10px;
}
footer{
    justify-content: center;
    display: flex;
}
.insta {
    flex: 1;
    background-color: rgb(31, 49, 43);
    color: #000000;
    font-size: 18px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 0px 0px 0px 10px;
}
.agradecimento {
    flex: 1;
    background-color: rgb(31, 49, 43);
    color: #000000;
    font-size: 18px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 0px 0px 10px 0px;
}